body{
    display: flex;
    
}

.card{
    border:1px solid #000000;
    background-color: #ffffff;
    width: 250px;
    height: 540px;
    margin: 10px;
    padding: 15px;
    
}
.card-imagem{
    display: flex;
    justify-content: center;
    margin: auto;
    height: auto;
}
.card-description{
    
    justify-content: center ;
    margin:auto;
    height: auto;
    border: 50;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.card-star{
    display: flex;
    color: rgb(255, 136, 0);
    justify-content: end;
}
.card-buttom-buy{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.card-desconto{
    display: flex;
    margin-left: 6px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.card-price{
 margin-left: 6px;
 margin-right: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
 display: flex;
 color: rgb(255, 136, 0);
}
button{
 color: rgb(250, 250, 250);
 background-color: rgb(255, 101, 0);
 width: 100%;
 height: 40px;
margin-left: 10px;
margin-right: 10px;
border-radius: 10px ;
border: none;
margin-top: 20px;
}
.desc{
    margin-left: 5px;
    color: #ffffff;
    background-color: rgb(255, 101, 0);
    border-radius: 8px;
    font-size: 19px;
}
.desc1{
    margin-left: 50px;
    border-radius: 35px;
}
.preto{
    display: flex;
    color: #000000;
    margin-left: 5px;
}
.card-parcelamento{
    margin-left: 5px;
}
.preco-base{
    text-decoration: line-through;
}
.desc2{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}




